<div class="navbar">
  <div class="main_symbol">
    <div id="bar1"></div>
    <div id="bar2"></div>
    <div id="bar3"></div>
  </div>

  <div class="main_logo">
    <%= link_to 'Schedulr', root_path %>
  </div>

  <% if current_user %>
    <div class="main_menu">
      <div class="ui dropdown icon" id="main_menu_button">
        <i class="reorder icon"></i>
        <div class="menu" id="nav_menu">
          <%= link_to schedules_path do %>
          <div class="item">
            <i class="calendar icon"></i>View Schedules
          </div>
          <% end %>
          <% if current_user && current_user.manager %>
            <%= link_to new_schedule_path do %>
              <div class="item">
                <i class="empty calendar icon"></i>Create New Schedule
              </div>
            <% end %>
          <% end %>
          <%= link_to edit_user_path(current_user) do %>
            <div class="item">
              <i class="user icon"></i>Edit Profile
            </div>
          <% end %>
          <% if current_user && !current_user.manager %>
            <%= link_to new_user_unavailability_path(current_user) do %>
              <div class="item">
                <i class="edit icon"></i>Edit Availability
              </div>
            <% end %>
          <% end %>
          <%= link_to session_path(current_user), method: :delete do %>
            <div class="item">
              <i class="off icon"></i>Log Off
            </div>
          <% end %>
          
        </div>
      </div>
    </div>
  <% else %>
    <div class="login_links">
      <%= link_to "Login", new_session_path, id: "show_login_form" %> or <%= link_to "Register", new_user_path %>
    </div>
    <%= form_tag sessions_url do  %>
      <div class="login_form">
        <div class="field">
          <div class="ui left labeled icon input">

            <%= email_field_tag :email, params[:email], id: "login_email_field", class: "login_field", placeholder: "Email Address" %>
            <i class="user icon" style="padding-top: 0.6rem;"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="ui left labeled icon input">
            <%= password_field_tag :password, nil, id: "login_password_field", class: "login_field" %>
            <i class="lock icon" style="padding-top: 0.6rem;"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <%= submit_tag "Login", class: "ui blue submit button" %>
        <p class="login_register_link">- <%= link_to "Register a New Account", new_user_path %> -</p>
      </div>
    <% end %>
  <% end %>

</div>